:root {
  --primary-color: #0f84ec;
  --secondary-color: #fff;
  --backgroud-color: rgb(246, 169, 169);
  --black: #000;
  --modal-close-color: rgb(255, 255, 2);
  --dark: #36425e;
  --hover: rgb(6, 22, 192);
}

.container {
  margin:auto;
  width: 100%;
  max-width: 1200px;
  background-color: var(--dark);
  border: var(--black) solid 5px;
  border-radius: 25px;
}

body {
  margin: 10%;
  margin-top: 2%;
  padding: 25px;
  background-color: var(--backgroud-color);
  font-family:'Domine', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

header {
  border-top: var(--dark) solid 10px;
  border-bottom: var(--black) solid 2px;
}

h1 {
  color: var(--primary-color);
}

.btn, .btn-primary {
  position: relative;
  font-family: inherit;
  color: var(--secondary-color);
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 63px;
  font-size: 20px;
  background: var(--primary-color);
  border: 2px solid var(--black);
  border-radius: 2%;
  padding: 15px;
  margin: 2px;
  text-transform: capitalize;
}

.btn:hover,
.btn-primary:hover {
  color: var(--primary-color);
  border: var(--primary-color) solid 5px;
  background: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
}

.search-style {
  font-size: 20;
  font-weight: 500;
  text-align: center;
  border: var(--black) solid 2px;
  height: 50px;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  padding: 25px;
  background-color: var(--secondary-color);
  border: var(--black) solid 5px;
}

.group-list-item {
  width: 250px;
  margin: auto;
}

.modal-content {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.modal-header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.modal-body {
  border-top: 5px solid var(--black);
  border-bottom: 5px solid var(--black);
  text-align: center;
}

.modal-img {
  border: 2px solid var(--black);
  border-radius: 25%;
  background-color: var(--secondary-color);
}

.modal-footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#loading-container {
  display: none;
}

#loading-container.is-visible {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

/* Spinner element that rotates when loading */
.spinner {
  margin: auto;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 5px solid var(--primary-color);
  border-top: 6px solid var(--black);
  border-radius: 100%;
  animation: spin 1s infinite linear;
}

/* animation for spinner element */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 